# ==========================================
#               Requirements file
# ==========================================
# to install all dependencies, please run:
# python -m pip install -r requirements.txt
# ==========================================

sympy
impedance
matplotlib
numpy
pandas
scipy
openpyxl